<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <form action="/main" method="post">
            <h4>Title</h4>            
            <textarea name="title" placeholder="Enter your title here" cols="70"></textarea>

            <h4>Content</h4>
            <textarea name="content" cols="80" rows="6" placeholder="Enter your content here"></textarea> <br>

            <button>Upload </button>         
        </form>
        <form action="/main" method="get">
            <button class="backfromcreate">Back</button>
        </form>
    </div>
</body>
</html>