<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><u>BLOG DETAIL</u></h1>
    <h3>Title</h3>
    <p>
        <%= info.title%>
    </p>

    <h3>Content</h3>
    <p>
        <%= info.content%>
    </p>

    <form action="/main" method="get">
        <button>Go Back</button>
    </form>
</body>
</html>